<div>
    <h3>Heimsmeistari í þríþraut ráðinn þjálfari hjá 3SH
        <small>4 nóvember, 2015</small>
    </h3>

    <p><span style="font-weight: 400;">3SH kynnir með stolti ráðningu
            Fred Van Lierde heimsmeistara í Ironman 2013 sem yfirþjálfara fyrir árið
            2016 frá og með janúar næstkomandi.</span></p>

    <p><span style="font-weight: 400;">Fred er reyndur þríþrautarþjálfarari
            og ráðning hans markar tímamót í sögu 3SH. Fred hefur sannað sig sem
            einn besti þríþrautarmaður heims í heilum og hálfum járnmanni. Hann mun
            njóta aðstoðar Vincent Van Lierde bróður síns sem er hokinn af
            keppnisreynslu í ýmsum vegalengdum þríþrautar. </span></p>

    <p><span style="font-weight: 400;">3SH býður þá velkomna til starfa.</span></p>

    <p><img src="assets/img/freddy_tt.jpg" alt="Fred Van Lierde"></p>

    <p><span style="font-weight: 400;">3SH is proud to announce that for the
             2016 the team has hired Fred Van Lierde, professional triathlete, as
            head coach through the upcoming season starting this January.</span></p>

    <p><span style="font-weight: 400;">Fred has great experience in coaching
             triathletes and his work will be a milestone in 3SH´s history. Fred has
             proven himself as one of the best triathletes in the world in the
            Ironman distance as well as half Ironman. Fred will be assisted by his
            brother Vincent Van Lierde who has competed in various distances in
            triathlon.</span></p>

    <p><span style="font-weight: 400;">3SH welcomes them on board.</span></p>

    <div style="text-align: center;">
        <img style="height: 180px;" src="assets/img/fvl_logo.jpg" alt="FVL logo">
    </div>
    <div class="callout">
        <ul class="menu simple">
            <li><a href="#">Stjórnin</a></li>
        </ul>
    </div>
</div>
