<div class="medium-3 columns right-sidebar" >
    <div>
        <h4>Styrktaraðilar</h4>
        <ul style="list-style: none" class="sponsors-list">

            <li style="margin: 2em 0 2em 0">
                <a href="http://saffran.is">
                    <img src="{{root}}/assets/img/logos/Saffran_logo_hvitt_212x64.jpg" width="90%"></a>
            </li>
            <li>
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,42,0"
                        id="aquasport" width="200" height="80">
                    <param name="movie" value="{{root}}/assets/swf/aquasport.swf">
                    <param name="bgcolor" value="#FFFFFF">
                    <param name="quality" value="high">
                    <param name="allowscriptaccess" value="samedomain">
                    <embed type="application/x-shockwave-flash"
                           pluginspage="http://www.macromedia.com/go/getflashplayer"
                           name="aquasport"
                           src="{{root}}/assets/swf/aquasport.swf"
                           bgcolor="#FFFFFF"
                           quality="high"
                           swliveconnect="true"
                           allowscriptaccess="samedomain"
                           width="150"
                           height="60">
                </object>
            </li>
            <li>
                <a href="https://www.facebook.com/brooksrunningIS">
                    <img src="{{root}}/assets/img/logos/brooks.png" width="120px"></a>
            </li>
            <li>
                <a href="http://uthald.is">
                    <img src="{{root}}/assets/img/logos/uthald.is.png" width="120px"></a>
            </li>
            <li>
                <a href="http://wowair.is">
                    <img src="{{root}}/assets/img/hol2016/wow-logo.png" width="100px"></a>
            </li>
            <li>
                <a href="http://66north.is">
                    <img src="{{root}}/assets/img/logos/66north-logo-small@2x.jpg" width="120px"></a>
            </li>
            <li>
                <a href="http://tri.is">
                    <img src="{{root}}/assets/img/logos/tri-med.png" width="120px"></a>
            </li>
            <li>
                <a href="http://hafnarfjordur.is">
                    <img src="{{root}}/assets/img/logos/hafnarfjordur.png" width="120px"></a>
            </li>
        </ul>
        <h4>Tenglar</h4>
        <ul>
            <li><a href="https://www.facebook.com/thrithrautardeildsh.3sh/info?tab=page_info">3SH á Facebook</a></li>
            <li><a href="http://www.triathlon.is/">Þríþrautanefndin</a></li>
            <li><a href="http://thriko.is/">Þríkó</a></li>
            <li><a href="http://aegir3.is/">Ægir þríþraut</a></li>
            <li><a href="http://www.umfn.is/flokkur/thrithraut/">3N</a></li>
        </ul>
    </div>
</div>